/* styles.css */

/* Container for the game */
.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #00ffa6;
  overflow: hidden;
}

/* Ship SVG */
.ship {
  position: absolute;
  bottom: 0;
}

/* Bullets */
.bullet {
  position: absolute;
  width: 1px;
  /* Adjust bullet width as needed */
  height: 29px;
  /* Adjust bullet height as needed */
  background-color: #bb2323;
  /* White color */
  animation: bulletAnimation 1s linear;
  /* Bullet animation */
}

/* Obstacles */
.obstacle {
  position: absolute;
  width: 30px;
  /* Adjust obstacle width as needed */
  height: 30px;
  /* Adjust obstacle height as needed */
  background-color: rgb(69, 75, 181);
  /* Red color */
  color: #368c73;
  /* White color */
  font-size: 20px;
  text-align: center;
}

.hits {
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Bullet animation */
@keyframes bulletAnimation {
  from {
    transform: translateY(100vh);
    /* Start from bottom of the container */
  }

  to {
    transform: translateY(0);
    /* Move to the top of the container */
  }
}